.display-1{
    text-align: center;
}
.card{
   margin-left: 810px;
   margin-top: 20px;
}
.pagination{
    margin-top: 20px;
}

#sobremim{
    text-align: center;
    margin-top: 70px;
}
#pouco{
    text-align: center;
}

#zap{
    margin-bottom: 580px;
    margin-right: 909px;

}
#meio{
  margin-left: 870px;
  
  margin-bottom: 100px;
}

#a{
    text-align: center;
    margin-top: 10px;
}

#ensino{
    margin-left: 530px;
}



